

<h2><%= @category.category_name %> category</h2>
 <% if @subcategory.present? %>
<h3><%= @subcategory.subcategory_name %> subcategory</h3>
 <% end %>

<h4>Extra content and fuctionality will be added later</h4>
<a href="<%= root_path %>">home</a>
