<p>
<h2>Welcome to Swap Deck, your one stop collector card trading website.</h2>
</p>
<p>
It's like a concentrated version of eBay specifically created to trade your collector cards.
</p>
<p>
The website is currently in alpha testing. More features will be added later in further iterations.
</p>
<p>
When it is completed you will be able to do everything you'd expect to be able to do on a trading website.
<br><br>
<h3>Including:</h3>
<ul>
  <li>Profile Creation</li>
  <li>File upload for sharing your collection and selling</li>
  <li>Fully functional listing creation</li>
  <li>A fully functional front page</li>
  <li>and many more features</li>

</ul>
</p>

<a href="<%= root_path %>">home</a>
