
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Swapdeck - Collector Card Trading Site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Rotating Words with CSS Animations" />
        <meta name="keywords" content="css3, animations, rotating words, sentence, typography" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="css/style4.css" />
		<script src="js/modernizr.custom.72111.js"></script>
		<style>
			.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
				opacity: 1;
			}
		</style>

    </head>
    <body background="http://i1079.photobucket.com/albums/w509/dfunkt1/banner-1989514.png">

			<section class="rw-wrapper">
				<h2 class="rw-sentence">
					<div class="rw-swap"><h2>Swap<span>deck</span></h2></div>
					<div class="rw-words rw-words-1">
						<span>collector card trading site</span>

						<span>sell your cards</span>

						<span>get social</span>

					</div>
					<div class="rw-words rw-words-2">
						<span>swap your decks</span>
						<span>browse listings</span>
            <span>all in one spot!</span>
					</div>
				</h2>
			</section>

        </div>
        <div class="enter_here">
        <h2>

          <%= link_to 'Click To Enter', pages_home_url  %>
        </h2>
      </div>
  </body>
